# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
ENV/
env/

# Environment variables
.env
.env.*

# VSCode or other IDE configs
.vscode/
.idea/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

askspec.db